<.header>
  Post <%= @post.id %>
  <:subtitle>This is a post record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/posts/#{@post}/edit"}>
      <.button>Edit post</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Title"><%= @post.title %></:item>
  <:item title="Content"><%= @post.content %></:item>
  <:item title="Published on"><%= @post.published_on %></:item>
  <:item title="Visibility"><%= if @post.visibility, do: "✔️", else: "🚫" %></:item>
</.list>

<h2 class="text-lg mt-8 mb-4 font-medium">Comments:</h2>

<ul class="list-none">
  <%= for comment <- @post.comments do %>
    <li class="mb-2 bg-gray-100 p-2 rounded-sm flex justify-between">
      <%= comment.content %> 
      <div>
        <.link href={~p"/posts/#{@post}/comments/#{comment.id}"} method="get">
          Edit
        </.link>
        <.link href={~p"/posts/#{@post}/comments/#{comment.id}"} method="delete">
          Delete
        </.link>
      </div>
    </li>
  <% end %>
</ul>

<.comment_form changeset={@new_comment_changeset} action={~p"/posts/#{@post.id}/comments"} />

<.back navigate={~p"/posts"}>Back to posts</.back>
